*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 1.5rem 4.5rem;
  /* background-color: #293241; */
  background-color: #f0efeb;
}

a {
  text-decoration: none;
  color: black;
}
